.MuiSelect-outlined:focus {
    padding: 0px 14px;
}

.MuiButtonBase-root:focus {
    outline: unset;
}

.navHeight {
    height: 50px;
}

.btn-space {
    margin-left: 20px;
}

.navLink {
    color: rgba(255,255,255,.5);
}

.navLink:hover {
    color: lightgrey;
}

.ChartComponent {
    margin: 0;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}

.chart-container {
    display: grid;
}

.floating-tooltip-2 {
    width: 96px;
    height: 80px;
    position: absolute;
    display: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 12px;
    color: #131722;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    z-index: 1000;
    top: 12px;
    left: 12px;
    pointer-events: none;
    border: 1px solid rgba(0, 150, 136, 1);
    border-radius: 2px;
}

.three-line-legend {
    grid-column: 1;
    grid-row: 1;
    display: block;
    padding: 8px;
    font-size: 12px;
    color: #131722;
    margin: 4px 0px;
    text-align: left;
    z-index: 1000;
    pointer-events: none;
}

iframe {
    display: none;
}